:root {
  --commands-menu-height: 75px;
  --commands-width: calc(var(--window-width) / 3);
  --window-width: 990px;
  --wysiwyg-arrow-size: 35px;
  --btn-margin: 2.5px;
  --selection-color: #fff;
  --bg-0: url('../img/bg0.png');
  --bg-1: url('../img/bg1.png');
  --text-color: #000;
  --caret-color: #000;

  --slide-animation-delay: 1s; /* in seconds only! As it's manipulated in main.js */
}

::selection {
  background-color: rgba(0,0,0,0.2);
  color: var(--selection-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(33,33,33,.3);
}
::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgba(255,255,255,.3);
}

@keyframes backgroundMove {
  00.0%, 11.0% { background-position: -25px -25px; }
  16.5%, 27.5% { background-position: 0px 0px; }
  33.0%, 44.0% { background-position: -50px -50px; }
  49.5%, 60.5% { background-position: -50px 0px; }
  66.0%, 77.0% { background-position: 0px -50px; }
  82.5%, 100% { background-position: -25px -25px; }
}

@keyframes backgroundSlideShow {
  00%, 20% { background-image: var(--bg-0); }
  20%, 40% { background-image: var(--bg-0); }
  40%, 60% { background-image: var(--bg-1); }
  60%, 80% { background-image: var(--bg-1); }
}

@keyframes loadingCircle {
  from { transform: rotate(0deg) }
  to   { transform: rotate(350deg) }
}

@keyframes loadingCircleText {
  00%, 30% { content: "Loading\0020."   }
  30%, 60% { content: "Loading\0020.."  }
  60%, 90% { content: "Loading\0020..." }
}

@keyframes pulsing {
  00%, 30%  { opacity: .3 }
  30%, 60%  { opacity: .6 }
  60%, 100% { opacity: .3 }
}

/* "Slide animations"
- Source: https://stackoverflow.com/questions/74438924/how-can-i-make-smooth-slide-transition/74440636#74440636
- Accessed: 17.01.2023
*/

@keyframes slideLeftToCenter {
  from { transform: translateX(-100%) }
  to   { transform: translateX(0) }
}

@keyframes slideCenterToLeft {
  from { transform: translateX(0) }
  to   { transform: translateX(-100%) }
}

@keyframes slideRightToCenter {
  from { transform: translateX(100%) }
  to   { transform: translateX(0) }
}

@keyframes slideCenterToRight {
  from { transform: translateX(0) }
  to   { transform: translateX(100%) }
}

.slide-ltc { /* ltc - left to right */
  animation: slideLeftToCenter var(--slide-animation-delay) forwards;
}
.slide-ctl { /* ctl - center to left */
  animation: slideCenterToLeft var(--slide-animation-delay) forwards;
}
.slide-rtc { /* rtc - right to center */
  animation: slideRightToCenter var(--slide-animation-delay) forwards;
}
.slide-ctr { /* ctr - center to right */
  animation: slideCenterToRight var(--slide-animation-delay) forwards;
}

.background {
  position: relative;
  background-color: transparent;
}
.background::before {
  content: "";
  position: absolute;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  top: 0;
  left: 0;
  z-index: -1;
  background-image: /* Preload background images */
    var(--bg-0),
    var(--bg-1);
  animation: backgroundMove 60s infinite, backgroundSlideShow 40s infinite;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

editor-tool {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
}

editor-tool[name="sign"] {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

editor-tool[name="container"] {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
  transform: translateX(-100%);
}

editor-tool[name="sign"] #commands textarea {
  padding-bottom: 50px;
}
editor-tool[name="sign"] #commands textarea,
editor-tool[name="container"] textarea.prism-live {
  cursor: auto;
}

editor-tool[name="container"] > div.prism-live {
  position: relative;
  overflow: hidden;
}
editor-tool[name="container"] textarea.prism-live::-webkit-scrollbar-corner {
  background-color: rgba(33,33,33,.3);
}
editor-tool[name="container"] span.token.commandblock {
  position: relative;
}
editor-tool[name="container"] span.token.commandblock::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 23px;
  top: 0;
  left: -.5px;

  background-color: #1a1a1a;
  background-image: url('../img/repeating_command_block.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: 0;
  background-position-y: 2px;
}
editor-tool[name="container"] span.token.commandblock ~ span.token.commandblock::before {
  background-image: url('../img/chain_command_block.png');
}
editor-tool[name="container"] code.fadeIn > *:not(.line-numbers-rows) {
  opacity: 1;
  transition: opacity 1.5s;
}
editor-tool[name="container"] code.highlightAll > *:not(.line-numbers-rows),
editor-tool[name="container"] span.token.highlight {
  background-color: yellow;
  font-size: 14px;
  transition: font-size .5s;
}
editor-tool[name="container"] span.token.highlight.error {
  background-color: transparent;
  position: relative;
}
editor-tool[name="container"] span.token.highlight.error::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,0,0);
  animation: pulsing 1s infinite;
  z-index: 2;
}
editor-tool[name="container"] span.token.error-line{
  --width: 0;
  --top: 0;
  content: "";
  display: inline-block;
  position: absolute;
  top: var(--top);
  left: -3.8em;
  width: calc(100vw + var(--width));
  height: 21px;
  background-color: rgba(255, 255, 0, .1);
  z-index: 1;
}
editor-tool[name="container"] span.token {
  opacity: 1;
}
editor-tool[name="container"] span.token.hide {
  opacity: 0;
  transition: opacity 1s;
}



#cover {
  background-color: lightgray !important;
  display: auto !important;
}

#cover,
div.popup,
div.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  
  background-color: rgba(0,0,0,.6);
  z-index: 3;
}


#cover,
div.popup,
div.loadingScreen {
  transition: opacity 1s;
}
.hide {
  opacity: 0;
}

span.loading {
  display: flex;
  justify-content: center;

  color: #fff;
  font-family:
  'minecraftiaregular',
  'minecraftru',
  'Arial',
  'Sans serif';
}

span.loading::after {
  --font-size: 15px;
  --inline-height: 0.5;

  position: absolute;
  top: calc(50% - (var(--font-size) * var(--inline-height)));
  width: 80px;

  content: "Loading\0020.";
  font-size: var(--font-size);
  line-height: var(--inline-height);
  text-align: center;

  animation: loadingCircleText 2s infinite;
  z-index: 2;
}

span.loading::before {
  content: " ";
  display: block;

  height: 45px;
  width: 45px;

  border: 5px solid rgba(255,255,255,0.4);
  border-left-color: transparent;
  border-radius: 50%;

  animation: loadingCircle 1s infinite;
  z-index: 1;
}


div.popup {
  z-index: 1;
}
div.popup > div {
  display: flex;
  width: 70%;
  height: 60%;
  user-select: none;
  color: #484848;
  font-family:
  'minecraftiaregular',
  'minecraftru',
  'Arial',
  'Sans serif';
}

div.popup img:first-child {
  margin-right: 20px;
}
@media (max-aspect-ratio: 8/4) {
  div.popup img:first-child { display: none }
}

div.popup .board {
  padding: 1.5vmin;
  padding-top: 0;
  position: relative;
  width: 100%;
  border-style: solid;
  border-width: 1vmin;
  border-radius: 1.2vmin;
  border-top-color: #FCFEFB;
  border-left-color: #FCFEFB;
  border-right-color: #54554F;
  border-bottom-color: #54554F;
  background-color: #C7C7C7;
  box-shadow: 0px 0px 0px 0.7vmin #030301;
}

div.popup button.exit {
  position: absolute;
  top: -0.5vmin;
  left: 2vmin;
  float: right;
  background-color: #d00000;
  border: .6vmin solid #000;
  border-radius: 1vmin;
  border-bottom-left-radius: 4vmin;
  height: 7vmin;
  width: 8vmin;
  position: relative;
}
div.popup button.exit > i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2vmin;
  margin-left: 0.2vmin;
}
div.popup button.exit > i::before,
div.popup button.exit > i::after {
  content: ' ';
  width: .7vmin;
  height: 4.2vmin;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  position: absolute;
  top: calc(25 - 3.2vmin);
}
div.popup button.exit > i::before {
  transform: rotate(45deg);
}
div.popup button.exit > i::after {
  transform: rotate(-45deg);
}
div.popup button.exit:hover {
  background-color: #ff0000;
  cursor: pointer;
}
div.popup button.exit:hover > i::before,
div.popup button.exit:hover > i::after {
  background-color: #a50000;
}
div.popup button.exit:hover:active {
  background-color: #ffd700;
}
div.popup button.exit:hover:active > i::before,
div.popup button.exit:hover:active > i::after {
  background-color: #c17e00;
}

div.popup .title {
  font-size: 5vmin;
}
div.popup warn {
  color: gold;
  background-color: #9b9b9b;
  padding-left: .5vmin;
  padding-right: .5vmin;
  font-weight: strong;
}
div.popup p {
  font-size: 2vmin;
}

div.popup button.submit {
  background-color: #008000;
  color: #fff;
  border: .4vmin solid #000;
  font-size: 2vmin;
  font-family:
  'minecraftiaregular',
  'minecraftru',
  'Arial',
  'Sans serif';
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
div.popup button.submit:not(.submit[disabled], .submit:hover)::after {
  content: "";
  position: absolute;
  border: .4vmin solid #00ff00;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: pulsing 2s infinite;
}
div.popup button.submit:hover {
  background-color: #00ff00;
  color: #008000;
  cursor: pointer;
}
div.popup button.submit:hover:active {
  background-color: #ffd700;
  color: #c17e00;
}
div.popup button.submit[disabled] {
  background-color: #808080;
  border: .4vmin solid #404040;
  color: #a9a9a9;
  cursor: not-allowed;
}
div.popup button.submit[disabled]:hover:active {
  background-color: #ababab;
  color: #cccccc;
  cursor: not-allowed;
}

div.popup hr {
  margin: 2vmin auto;
}
div.popup .settings {
  display: block;
}
div.popup .settings label {
  display: block;
  width: 100%;
  font-size: 3vmin;
}
div.popup .settings input {
  width: 100%;
  padding: 1vmin;
  border-width: .5vmin;
  border-style: solid;
  border-top-color: #54554F;
  border-left-color: #54554F;
  border-right-color: #FCFEFB;
  border-bottom-color: #FCFEFB;
  background-color: #8B8B8B;
  box-sizing: border-box;
  color: lime;
  font-size: 2.5vmin;
  font-family:
  'minecraftiaregular',
  'minecraftru',
  'Arial',
  'Sans serif';
}



.zoomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 1);
  transition: opacity 1s;

  width: calc(45px * 3);
  height: 25px;
}
.zoomContainer:hover {
  opacity: 1;
}

.zoomContainer > * {
  background-color: transparent;
  border: 1px solid gray;
  color: #fff;
  text-align: center;
}

.zoomContainer > button {
  height: 100%;
  width: 25%;
  border-left: 0;
  border-right: 0;
}
.zoomContainer > button:hover {
  background-color: rgba(255,255,255,.2);
}
.zoomContainer > button:hover:active {
  background-color: rgb(126, 102, 152);
}

.zoomContainer > input {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}
.zoomContainer > input::-webkit-outer-spin-button,
.zoomContainer > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.zoomContainer > input::placeholder {
  color: #fff;
}




#commands {
  background-color: rgba(255,255,255,.8);
  position: relative;
}

#commands > .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--commands-menu-height);
  background-color: black;
}

#commands > .menu button {
  height: 50px;
  width: 50px;
  background-image: url('../img/commands.png');
  background-size: cover;
  background-position-x: -50px;
  border: none;
  border-radius: 2px;
  transform: rotate(-90deg);
  transition: 1s background-position-x, 1s transform;
  z-index: 0;
}

#commands > .menu button:hover {
  transform: scale(1.4);
}
#commands > .menu button[disabled] {
  background-position: 0;
  transform: rotate(90deg);
}





#commands > textarea {
  --multiplier: 1;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  height: calc(100% - var(--commands-menu-height));
  min-width: var(--commands-width);
  max-width: calc(var(--window-width) * var(--multiplier));

  box-sizing: border-box;
  border: none;
  outline: none;
  resize: horizontal;
  background-color: transparent;

  font-family:
    'minecraftiaregular',
    'minecraftru',
    'Arial',
    'Sans serif';
  font-size: 12px;
  opacity: 0;
}

#commands > textarea[data-display] {
  opacity: 1;
  transition: 1s opacity;
}




#wysiwyg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}





#wysiwyg .container > .menu {
  width: 100%;
  padding: 5px;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.4);
  user-select: none;
}

#wysiwyg .container > .menu:first-child {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-gap: 20px;
}

#wysiwyg .container > .menu button {
  margin: var(--btn-margin);
  height: calc(50% - (2 * var(--btn-margin)));
  border: none;

  float: left;
  font-size: 10px;
  font-family:
    'minecraftiaregular',
    'minecraftru',
    'Arial',
    'Sans serif';
}



#wysiwyg .wysiwyg-options > button {
  text-transform: capitalize;
}

#wysiwyg .wysiwyg-options > button:hover {
  background-color: lightGrey;
}

#wysiwyg .wysiwyg-options.text-format > button:nth-child(1) {
  font-weight: bold;
}

#wysiwyg .wysiwyg-options.text-format > button:nth-child(2) {
  font-style: italic;
}

#wysiwyg .wysiwyg-options.text-format > button:nth-child(3) {
  text-decoration: underline;
}

#wysiwyg .wysiwyg-options.text-format > button:nth-child(4) {
  text-decoration: line-through;
}

#wysiwyg .wysiwyg-options.text-format > button:nth-child(-n + 3) {
  width: calc((100% / 3) - (2 * var(--btn-margin)));
}

#wysiwyg .wysiwyg-options.text-format > button:nth-last-child(-n + 2) {
  width: calc(50% - (2 * var(--btn-margin)));
}



#wysiwyg .wysiwyg-options.text-color {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

#wysiwyg .wysiwyg-options.text-color > button {
  height: 20px;
  margin: 0;
  background-color: var(--bg-color);
  border: 1px solid #fff;
  position: relative;
  color: #fff;
}

#wysiwyg .wysiwyg-options.text-color > button:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
}

#wysiwyg .wysiwyg-options.text-color > button::after {
  content: attr(data-color);
  position: absolute;
  text-transform: uppercase;
  font-size: 4px;
  top: 0;
  left: 2px;
}

#wysiwyg .wysiwyg-options.text-color > button:hover {
  transform: scale(2);
  z-index: 1;
  transition: .5s transform;
}

#wysiwyg .wysiwyg-options.text-color > button:hover:active {
  transform: scale(1.5);
  transition: .2s transform;
}



#wysiwyg .display {
  width: 100px;
  height: 50px;
  counter-reset: button-instance;
}

#wysiwyg .display > button {
  width:  calc(50% - (2 * var(--btn-margin)));
  border: 1px solid #fff !important;
  background-color: transparent;
  color: transparent;
  text-transform: uppercase;
}

#wysiwyg .display > button:hover,
#wysiwyg .display > button[data-active] {
  background-color: #fff;
  color: rgba(0,0,0,.5);
}
#wysiwyg .display > button:hover:active {
  color: #000;
}

#wysiwyg .display > button::before {
  counter-increment: button-instance;
  content: counter(button-instance);
}



#wysiwyg .sign {
  width: 372px;
  height: 186px;
  background-color: #8B6D33;
  background-image: url('../img/blank_sign.png');
  background-size: cover;
}

#wysiwyg .sign > .input {
  height: 42px;
  width: 361px;
  margin: 0 auto;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
  font-style: normal;
  font-size: 31.5px;
  font-family:
    'minecraftiaregular',
    'minecraftru',
    'Arial',
    'Sans serif';
  caret-color: var(--caret-color) !important;
}
#wysiwyg .sign > .input br { display: none; /* Fix bug where text moves up on line break's deletion*/ }

#wysiwyg .sign a {
  text-decoration: none;
  color: transparent;
  position: relative;
}

#wysiwyg .sign a * {
  color: transparent !important;
}

#wysiwyg .sign a::before {
  content: var(--text-content);
  color: var(--text-color) !important;
  position: absolute;
  left: 0;
}

#wysiwyg .sign u a::before {
  text-decoration: underline;
}

#wysiwyg .sign strike a::before {
  text-decoration: line-through;
}

#wysiwyg .sign u strike a::before,
#wysiwyg .sign strike u a::before {
  text-decoration: underline line-through;
}




#wysiwyg .gradient {
  height: 100%;
  width: 80px;
  display: flex;
  border: none;
  align-items: center;
  background: linear-gradient(
    var(--gradient-angle),
    rgba(0,0,0,0.6) 0%,
    transparent 100%
  );
}

#wysiwyg .gradient:hover {
  background: linear-gradient(
    var(--gradient-angle),
    rgba(0,0,0,0.8) 0%,
    transparent 100%
  );
}

#wysiwyg .gradient > span {
  min-width: 48px;
  max-width: 48px;
  margin: 0 10px;
  border: none;
  background-color: transparent;
}

#wysiwyg .gradient > span > i {
  --arrow-size: 10px;

  height: var(--wysiwyg-arrow-size);
  width:  var(--wysiwyg-arrow-size);

  display: block;
  opacity: 0.8;
  border-width: 0 var(--arrow-size) var(--arrow-size) 0;
  border-style: solid;
  border-color:
    transparent 
    rgba(191, 191, 191, 0.3) 
    rgba(191, 191, 191, 0.3) 
    transparent;
}

#wysiwyg .gradient:hover > span > i {
  border-color:
    transparent
    #fff
    #fff
    transparent;
}

#wysiwyg .gradient:first-child {
  justify-content: flex-start;
}

#wysiwyg .gradient:first-child > span > i {
  transform: rotate(135deg);
  margin-left: 12px;
}

#wysiwyg .gradient:last-child {
  justify-content: flex-end;
}

#wysiwyg .gradient:last-child > span > i {
  transform: rotate(-45deg);
  margin-left: -12px;
}