footer {
  display: grid;
  grid-template-columns: 1fr auto auto;

  width: 100%;
  height: var(--footer-height);

  background-image: url('../images/purple-bricks.jpg');
  background-size: 35px;
  background-position: 0px 0.5px;

  border-top: 1px solid #222;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
footer > div {
  display: block;
  height: var(--footer-height);
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

#iframeFooter {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #000;
  border-right: 0;
  background-color: rgba(0,0,0,.4);
}

footer > div:nth-of-type(2).panelDoubble {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
footer > div:nth-of-type(2).panelDoubble div:nth-child(1) { border-bottom-width: 1px; }
footer > div:nth-of-type(2).panelDoubble div:nth-child(2) { border-top-width: 1px; }

/* defaultButtons' parent division */
footer > div:nth-of-type(3).panelDoubble,
footer > div:nth-of-type(3).panelTriple {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
  padding-left: 8px;
}
footer > div:nth-of-type(3).panelTriple {
  grid-template-columns: 1fr 1fr; 
  grid-template-areas: 
    "first first"
    "second third";
}
footer > div:nth-of-type(3).panelTriple div:nth-child(1) { grid-area: first; }
footer > div:nth-of-type(3).panelTriple div:nth-child(2) { grid-area: second;}
footer > div:nth-of-type(3).panelTriple div:nth-child(3) { grid-area: third; }
footer > div:nth-of-type(3).panelTriple > div.button > button { width: 100%; }

.button {
  border: 2px solid #000;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
.button > button {
  border: 0;
  color: rgba(255,255,255,.75);
  background: none;
  font-family: SilkscreenNormal;
}
.button > button::before {
  content: attr(data-before);
  position: absolute;
  z-index: 1;
}
.button > button::after {
  background-color: rgb(111,111,111);
  border-top: 2px solid #bfbfbf;
  border-right: 2px solid #535353;
  border-bottom: 3px solid #535353;
  border-left: 2px solid #bfbfbf;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  box-sizing: border-box;
}


.buttonLaunch {
  background-color: #008000;
}
.buttonLaunch:hover {
  background-color: #0f0;
}
.buttonLaunch > button {
  width: 60px;
  height: 100%;
}
.buttonLaunch > button:after {
  opacity: .7;
}
.buttonLaunch > button:hover:active:after {
  opacity: .65;
}

.buttonDefault {
  background-color: #005ce6;
}
.buttonDefault > button {
  width: 250px;
  height: 32px;
}
.buttonDefault > button:hover:after {
  opacity: .8;
}
.buttonDefault > button:hover:active:after {
  opacity: .7;
}