@font-face{
  font-family: SilkscreenNormal;
  src: url(./src/stylesslkscr.ttf), url(./src/stylesslkscr.eot); /* Directory is modified in index.js*/
  font-weight: 400;
  font-style: normal;
}

@keyframes scaleAnimation {
  12.5% { opacity: .5; }
  25.0% { opacity: 1; width: 150px; }
  38.5% { opacity: .5; }
  50.0% { opacity: 1; width: 10px; }
  62.5% { opacity: .5; }
  75.0% { opacity: 1; width: 150px; }
  88.5% { opacity: .5; }
  100% { opacity: 1; width: 10px; }
}


* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: calibri;
  cursor: default;
}

body {
  opacity: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(0,0,0,0);
}

body.show {
  opacity: 1;
  transition: opacity 1s;
}

/* ---- ScrollBar ---- */
body::-webkit-scrollbar {
  width: 12px;
  height: 15px;
  background-color: #587358;
}
body::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-thumb:vertical {
  display: none;
}
body::-webkit-scrollbar-button:single-button {
  background-color: #587358;
  display: block;
  border-style: solid;
  height: 50%;
  width: 16px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #587358;
}
/* Top button */
body::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(./src/images/iconmonstr-arrow-25-up.svg); /* Directory is modified in index.js*/
}
/* Bottom button */
body::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(./src/images/iconmonstr-arrow-25-down.svg); /* Directory is modified in index.js*/
}
body::-webkit-scrollbar-button:single-button:vertical:decrement:hover,
body::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-color: rgb(133, 172, 133);
  border-color: rgb(133, 172, 133);
}
/* ---- End - ScrollBar ---- */

dt-success {
  display: none;
}

.mdt-footer * {
  font-family: SilkscreenNormal;
  word-wrap: break-word;
  text-align: center;
}

.mdt-footer > .banner {
  margin: 2px 5px 2px 4px;
  padding: 2px;
  border: 3px solid #fff;
  border-top: 0px;
  border-bottom: 0px;
  height: 32px;
  background:rgba(64,64,64,0.5);
  font-size: 15px;
}

.mdt-footer > .banner > p > dt-title {
  color: #90ee90;
}
.mdt-footer > .banner > p > dt-version {
  color: #ffff00;
}
.mdt-footer > .banner > p > dt-author {
  color: #00ffff;
}

.mdt-footer > .description > p {
  padding: 5px;
  padding-top: 3px;
  font-size: 13px;
}

.mdt-footer span.animation {
  border: 1px solid #fff;
  display: block;
  width: 10px;
  max-width: 150px;
  margin: 0px auto;
  animation: scaleAnimation 8s infinite;
} 