:root {
  --bg-0: url('../images/bg0.jpg');
  --bg-1: url('../images/bg1.jpg');
  --bg-2: url('../images/bg2.jpg');
  --bg-3: url('../images/bg3.jpg');
  --bg-4: url('../images/bg4.jpg');
  --bg-5: url('../images/bg5.jpg');
  --footer-height: 100px;
  --titleBar-height: 35px;
}

@keyframes backgroundSlideShow {
  00.0%, 11.0% { background-image: var(--bg-0); }
  16.5%, 27.5% { background-image: var(--bg-1); }
  33.0%, 44.0% { background-image: var(--bg-2); }
  49.5%, 60.5% { background-image: var(--bg-3); }
  66.0%, 77.0% { background-image: var(--bg-4); }
  82.5%, 93.5% { background-image: var(--bg-5); }
}

@font-face{
  font-family: SilkscreenNormal;
  src: url(./slkscr.ttf), url(./slkscr.eot);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  overflow: hidden;
  font-family: 
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica,
    "Helvetica Neue",
    Arial,
    sans-serif;
  box-shadow: 0px -1px 0px 0px rgb(46,43,52);
  background: #222;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.background {
  width: 100vw;
  background-image: /* Preload background images */
    var(--bg-0),
    var(--bg-1),
    var(--bg-2),
    var(--bg-3),
    var(--bg-4),
    var(--bg-5);
  animation: backgroundSlideShow 60s infinite;
  background-size: cover;
  background-position-y: calc(var(--footer-height) * -1);
  background-repeat: no-repeat;
}

help-tag {
  display: block;
  overflow: hidden;
  position: absolute;

  top: 0;
  right: 0;
  z-index: 9999;

  background-color: #222;
  border-radius: 0 0 0 3px;
  padding: 10px;
  width: 200px;
  max-height: 300px;

  opacity: 1;
  transition: opacity 1s, right 1s, z-index 1s;
  
  font-family: calibri;
  font-weight: normal;
  font-size: 12px;
}
help-tag.hide {
  opacity: 0;
  right: -200px;
  z-index: -1;
}
help-tag > h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
help-tag > p {
  margin-top: 10px;
}
help-tag span.warning {
  color: #ffb142;
}
help-tag span.danger {
  color: #ff5252;
}

help-content {
  display: none;
}