main-display {
  height: calc(100vh - var(--titleBar-height));
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
}


.display {
	background-color: rgba(0,0,0,.5);
	box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,.75);
}


#iframeBody {
	border: 0px;
	width: 100%;
	height: 100%;
}