navigation-bar {
  background-color: rgba(34,34,34,.95);
  width: 225px;
  height: calc(100vh - var(--titleBar-height));
  display: grid;
  grid-template-rows: 1fr auto;
  float: left;
}

.developmentTools {
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.developmentTools::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
.developmentTools::-webkit-scrollbar-track-piece {
  background-color: #222;
}
.developmentTools::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: rgba(255,255,255,.3);
}

.devTool {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  transition: padding .5s, background-color 1s, font-weight .5s;
}
.devTool:hover {
  background-color: rgba(255,255,255,.25);
  padding: 10px;
  font-weight: bold;
}
.devTool > img.icon {
  width: 48px;
  height: 48px;
}
.devTool > p.title {
  text-transform: capitalize;
  font-size: 13px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  box-shadow: 5px 0 10px 0 rgba(0,0,0,.5);
  background-color: #222;
}
.menu button {
  background-color: rgba(0,0,0,0);
  height: var(--footer-height);
  border: none;
}
.menu button:hover {
  background-color: rgba(0,0,0,.25);
}
.menu button:hover:active {
  background-color: rgba(0,0,0,.5);
}
.menu button > img {
  height: 35px;
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,1));
}